<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="contactDAOHibernate" class="com.java.www.ContactDAOHibernate" />

	<bean id="contactDAOJDBC" class="com.java.www.ContactDAOJDBC" />

	<!--
		Comment this contactDAOClient definition when your using logger <bean id="contactDAOClient"
		class="com.sample.ContactDAOClient"> <property name="contactDAO"> <ref local="contactDAOJDBC" /> </property> </bean>
	-->

	<!-- Uncomment this part and comment out contactDAOClient bean definition when you want to try AOP sample-->
	<!--
		<bean id="goodsManagerDaoLoggerInterceptor" class="us.eline.goodsstore.dao.aop.GoodsManagerDaoLoggerInterceptor"/>
	-->

	<bean id="contactLogger" class="com.java.www.ContactLogger" />

	<bean id="simpleTraceInterceptor" class="org.springframework.aop.interceptor.SimpleTraceInterceptor" />

	<bean id="contactTraceInterceptor" class="com.java.www.ContactTraceInterceptor" />

	<bean id="contactDAOLogger" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<list>
				<value>com.java.www.ContactDAO</value>
			</list>
		</property>

		<property name="target">
			<ref bean="contactDAOJDBC" />
		</property>

		<property name="interceptorNames">
			<list>
				<value>contactLogger</value>
				<value>contactTraceInterceptor</value>
			</list>
		</property>
	</bean>

	<bean id="contactDAOClient" class="com.java.www.ContactDAOClient">
		<property name="contactDAO">
			<ref bean="contactDAOLogger" />
		</property>
	</bean>
	<!--
		contactDAOLogger <bean id="goodsManagerDao" class="org.springframework.aop.framework.ProxyFactoryBean"> <property
		name="proxyInterfaces"> <value>com.java.www.ContactDAO</value> </property> <property name="target"> <ref
		bean="contactDAOJDBC"/> </property> <property name="interceptorNames"> <list> <value>contactDAOLogger</value> </list>
		</property> </bean>
	-->

</beans>